@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url('/assets/fonts/Franklin\ Gothic\ Heavy\ Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Sarabun", sans-serif !important;
  background-color: #1c2430 !important;
  scroll-behavior: smooth !important;
}

.font-franklin {
  font-family: "franklin", sans-serif !important;
}

.media-icon {
  width: 24px;
}

.toggle-button {
  width: 32px;
  height: 2px;
  background-color: white;
  transition: all 300ms linear;
}

.open {
  transform: translateY(4px) rotate(45deg);
}

.open-two {
  transform: translateY(-5px) rotate(-45deg);
}
/*------------------ Navbar style--------------------- */
.navbar-parent {
  max-width: 1921px;
  margin: 0 auto;
}
.navbar-logo {
  top: 0;
  left: 0;
}

.navbar-logo img {
  max-width: 371px;
  height: 81px;
}

.navbar-link-parent {
  gap: 32px;
  padding-top: 31px;
}

.navbar-link {
  font-size: 16px;
  line-height: 130%;
  position: relative;
  transition: all 300ms ease-in-out;
}

.navbar-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transition: width 300ms ease-in-out;
}

.navbar-link:hover::after {
  width: 100%;
}

/* -------------Hero Section Style------------ */
.hero-heading {
  font-size: 64px;
  line-height: 113%;
  color: #3586ff;
  font-weight: 400;
  position: relative;
}

.hero-heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 164px;
  height: 1px;
  background-color: #3586ff;
}

.hero-section-parent {
  padding-top: 29px;
  max-width: 1920px;
  margin: 0 auto;
}

.pointer-event-none {
  pointer-events: none;
}

.hero-section-parent .container {
  padding-left: 170px;
  padding-top: 80px;
}

.hero-section-parent .container p {
  max-width: 509px;
  padding-top: 10px;
}
.hero-button {
  background-color: #245aab;
  border-radius: 9px;
  border: 1px solid transparent;
  min-width: 154px;
  height: 37px; 
  line-height: 130%;
  margin-top: 43px;
  transition: all 300ms linear;
}

.hero-button:hover {
  background-color: white;
  border: 1px solid #3586ff;
  color: #3586ff !important;
}

.max-w-2xl{
    max-width: 202px;
}

.text-blue{
    color: #3586FF !important;
}

.slide-scroll {
    animation: slide 20s linear infinite;
}

.slide-scroll:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.slide-scroll-left{
  animation: slide-left 20s linear infinite;
}

.slide-scroll-left:hover {
    animation-play-state: paused;
}

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.fs-xl{
    font-size: 43px;
    color:#3586FF;
}

.text-xs{
    font-size: 14px;
    line-height: 20.8px;
    color: #D4E5FF;
}

.custom-description{
        line-height: 20.8px;
    color: #D4E5FF;
}

.max-w-4xl{
    max-width: 888px;
}   

.pt-3xl{
    padding-top: 36px !important;
}

.max-w-8xl{
    max-width: 880px;
}

.max-w-sm{
    max-width: 20px;
}

.mt-5xl{
    margin-top: 58px !important;
}

.mt-6xl{
    margin-top: 64px !important;
}

.story-line{
width: 164px;
height: 1px !important;
border: 1px solid #3586FF;
margin-top: 61px !important;
margin-bottom: 56px !important;
}

.fs-custom-xl{
    font-size: 21.64px;
}

.fs-custom-xxl{
    font-size: 24px !important;
}

.footer-bg-img{
    background-image: url('/assets/images/png/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 174px;
}

.custom-mt-3xl{
    margin-top: 36px !important;
}

/* ------------------ RESPONSIVE ---------------- */

@media (max-width: 1025.98px) {

    .mt-6xl{
        margin-top: 50px !important;
    }

  .hero-section-parent img {
    width: 460px;
    height: 100%;
  }
  .blue-box {
    height: 273px !important;
    width: 494px !important;
  }
  .story-line{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}

@media (max-width: 991.98px) {
    .custom-mt-3xl{
    margin-top: 24px !important;
}

     .mt-6xl{
        margin-top: 40px !important;
    }

    .mt-5xl{
        margin-top: 40px !important;
    }

  .story-line{
    margin-top: 35px !important;
    margin-bottom: 35px !important;
  }

  .hero-section-parent {
    flex-direction: column;
    gap: 24px;
  }
  .hero-section-parent .container {
    padding-left: 125px;
  }
  .hero-section-parent img {
    width: 390px;
  }
  .hero-button {
    margin-top: 16px;
  }
  .hero-left-thunder {
    width: 200px !important;
    height: 100% !important;
  }
  .hero-right-thunder {
    display: none;
  }
  .blue-box {
    width: 665px !important;
  }
}

@media (max-width: 767.98px) {

     .mt-6xl{
        margin-top: 30px !important;
    }

      .story-line{
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
  /* --------------- NAV BAR RESPONSIVE------------ */
  .navbar-logo img {
    width: 270px;
    height: 70px;
  }
  .navbar-link-parent {
    gap: 20px;
    background-color: #000000 !important;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    transition: all 300ms linear;
  }

  /*--------------HERO SECTION RESPONSIVE-------------- */

  .hero-section-parent .container {
    padding: 45px 20px 0px;
  }

  .max-md-btn-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-heading {
    font-size: 48px;
    text-align: center;
  }
  .max-md-center{
    text-align: center; 
    margin: auto;
  }

  .hero-left-thunder,
  .blue-box {
    display: none;
  }
  .max-md-h-xl{
    height: 220px;
  }

  .mt-5xl{
    margin-top: 24px !important;
  }

  .pt-3xl{
    padding-top: 16px !important;
  }

}
