@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url('/assets/fonts/Franklin\ Gothic\ Heavy\ Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1c2430 !important;
}
.font-franklin {
  font-family: "franklin", sans-serif;
}
.media-icon {
  width: 24px;
}
.toggle-button {
  width: 32px;
  height: 2px;
  background-color: white;
  transition: all 300ms linear;
}
.open {
  transform: translateY(4px) rotate(45deg);
}
.open-two {
  transform: translateY(-5px) rotate(-45deg);
}
/* Navbar style */
.nav-parent {
  max-width: 1921px;
  margin: 0 auto;
}
.nav-logo {
  top: 0;
  left: 0;
}

.nav-logo img {
  max-width: 371px;
  height: 81px;
}

.nav-link-parent {
  gap: 32px;
  padding-top: 31px;
}

.nav-link {
  font-size: 16px;
  line-height: 130%;
  position: relative;
  transition: all 300ms ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transition: width 300ms ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* =========== HERO SECTION ========= */
.hero-heading {
  font-size: 64px;
  line-height: 113%;
  color: #3586ff;
  font-weight: 400;
  position: relative;
}
.hero-heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 164px;
  height: 1px;
  background-color: #3586ff;
}
.hero-parent {
  padding-top: 29px;
  max-width: 1920px;
  margin: 0 auto;
}
.hero-parent .container {
  padding-left: 170px;
  padding-top: 80px;
}

.hero-parent .container p {
  max-width: 509px;
  padding-top: 10px;
}
.hero-button {
  background-color: #245aab;
  border-radius: 9px;
  border: 1px solid transparent;
  padding: 8px 24px;
  line-height: 130%;
  margin-top: 43px;
  transition: all 300ms linear;
}

.hero-button:hover {
  background-color: white;
  border: 1px solid #3586ff;
  color: #3586ff !important;
}

/* Assuming ff-franklin is a custom font */
.ff-franklin {
    font-family: 'Franklin Gothic', sans-serif; /* Replace with actual font */
}



.slide-scroll {
    animation: slide 20s linear infinite;
}

.slide-scroll:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.slide-scroll-left{
  animation: slide-left 20s linear infinite;
}

.slide-scroll-left:hover {
    animation-play-state: paused;
}

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 991px) {
    .fs-md-64 {
        font-size: 45px;
    }
}

.fs-xl{
    font-size: 43px;
    color:#3586FF;
}

.text-xs{
    font-size: 14px;
    line-height: 20.8px;
    color: #D4E5FF;
}

.max-w-4xl{
    max-width: 888px;
}   

.pt-3xl{
    padding-top: 36px !important;
}

.mt-5xl{
    margin-top: 58px !important;
}

.story-line{
width: 164px;
height: 1px !important;
border: 1px solid #3586FF;
margin-top: 61px !important;
margin-bottom: 56px !important;
}

